/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 10px;
  height: 600px;
}
h2{
  margin: 10px 30px;
}
#description{
  margin: 10px;
  width: 40%;
  align-self: center;
}
#search{
  margin: 20px;
}
#result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
